{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Time Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %}">  {% endcomment %}
</head>
<body>
    <h1 id='t1'></h1>
    <canvas id="myChart"></canvas>
    
    
</body>

<script src ="{% static 'js/main.js' %}"></script>
</html>