{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    

</head>
<body>
    <h1 id="app" class="text-red-400 text-4xl">Hi</h1>
    <div class="h-screen justify-center items-center">
        <div class="flex flex-row">
            <div class="mx-auto mt-5 grid-cols-10">
                
            </div>
        </div>
    </div>
    
    
</body>
<script src ="{% static 'js/main.js' %}"></script>
</html>